<!DOCTYPE html>
<html>
    <head>
        <%- contentFor("head") %>

        <title>Book</title>

        <style type="text/css">
            body{
                position: relative;
            }

            h1 {
                position: absolute;
                top: 11%;
                left: 13.5%;
                font-size: 1.5rem;
            }
        </style>
    </head>
    <body>
        <%- contentFor("body") %>

        <!-- <h1>Engage</h1> -->

        <main> 
            <h1>Book</h1>
        </main>
    </body>
</html>