<!DOCTYPE html>
<html>
    <head>
        <%-contentFor("head")%>
        
        <link rel="stylesheet" href="css/indexFadeStyles.css">
        <title>Asymmetry</title>
    </head>
    <body>
        <%-contentFor("body")%>

        <div>
            <img class="quad_repeats_1" src="images/repeat_quads_2.png" alt="quad design repeats"> 
        </div>

        <main>
            <!-- <div id="right-bar_2"></div> -->

            <section class="main-content">
                <div class="h1-BarAccent"></div>
                <h1>Experience <br> the world</h1><br>
                <p>Curious wonderer, your mind. Let it wonder, <br> let it breathe the air of the never ending <br>serenity of the terrestrial body.</p><br>
                <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing<br> elit. Officiis provident inventore accusamus dolore <br>velit.</p><br> -->
                <button id="learnMore" href="/memories">Learn More</button>
            </section>

    <h3>Lake Laughlin</h3>

            <img class="img img1 triLoadImg" src="images/BlueLake.jpg">
            <img class="img img2 triLoadImg" src="images/NightSky.jpg">

            <div class="nestedImg">
                <img class="img img3 triLoadImg" src="images/BedsideView.jpg">
                <div class="insideImg"><p>Travel</p></div>
            </div>

            <img class="img img4 triLoadImg" src="images/DesertCastle.jpg">
            <img class="img img5 triLoadImg" src="images/passports.jpg">
    
            <!-- <div class="img img1 triLoadImg"></div>
            <div class="img img2 triLoadImg"></div>

            <div class="nestedImg">
                <div class="img img3 triLoadImg"></div>
                <div class="insideImg"><p>Travel</p></div>
            </div>

            <div class="img img4 triLoadImg"></div>
            <div class="img img5 triLoadImg"></div> -->

            <!-- <div id="author">By JonG</div> -->
        </main>
    </body>  
</html>