<!DOCTYPE html>
<html>
    <head>
        <%- contentFor("head") %>
        <title>Memories</title>

        <link rel="stylesheet" href="css/memoriesStyles.css">
    </head>
    <body>
        <%- contentFor("body") %>
    
        <main>
            <h1>Create a world of<br> Memories</h1>
            <!-- <h2>See how it works...</h2> -->
            
            <div id="bookContainer">
                <div class="scrapBook bookOne"></div>
                <div class="scrapBook bookTwo"></div>
                <div class="scrapBook bookThree"></div>

                <div class="addArea">
                    <img class="addButton"src="images/addButton.png" alt="add button image">
                    <a href="#" class="addText">Add</a>
                </div>

            </div>

            <div id="infoContainer">
                <div id="firstInfoItem"><label>Book Name</label><div class="p_holder"><p>Test</p></div></div>
                <div><label>Destination</label><div class="p_holder"><p>Test</p></div></div>
                <div><label>No. of images</label><div class="p_holder"><p>Test</p></div></div>
                <div><label>Book Size</label><div class="p_holder"><p>Test</p></div></div>
                <div><label>Last Updated</label><div class="p_holder"><p>Test</p></div></div>

                <div class="addArea">
                    <img class="addButton"src="images/addButton.png" alt="add button image">
                    <a href="#" class="addText">Add</a>
                </div>
                
            </div>
        </main>
    </body>
</html>