<!DOCTYPE html>
<html>
    <head>
        <%- contentFor("head") %>
        <title>Sign Up</title>
    </head>
    <body>  
        <h1>Thank you <%= name %> for signing up with us!</h1>
    </body>
</html>